
#main-content {
	border-bottom-color: #8B99A7;
}

#top-header {
	.navbar {
		.navbar-inner {
			.nav {
				border-top: 1px solid @tableBorder;
			}
		}
	}
}

.breadcrumb {
	border-bottom-color: @tableBorder;
	> li {
		border-right-color: @tableBorder;
	}
}

.pagination ul>li>a, .pagination ul>li>span{
	background-color: @bodyBackground;
}

.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus{
	color: @bodyBackground;
}

.blog .items-leading {
	border-bottom-color: @tableBorder;
	border-top-color: @tableBorder;
}

.nav.nav-tabs {
	border-color: @tableBorder;
}

p.img_caption {
	background-color: @bodyBackground;
}

.list-striped, .row-striped {
	border-top-color: darken(@bodyBackground, 10%);
}
.list-striped li:nth-child(odd), .list-striped dd:nth-child(odd), .row-striped .row:nth-child(odd), .row-striped .row-fluid:nth-child(odd) {
	background-color: @bodyBackground;

	a {
		color: @textColor;
	}
}
.list-striped li:hover, .list-striped dd:hover, .row-striped .row:hover, .row-striped .row-fluid:hover {
	background-color: darken(@bodyBackground, 5%);

	a {
		color: @textColor;
	}
}
.list-striped li, .list-striped dd, .row-striped .row, .row-striped .row-fluid {
	border-bottom-color: darken(@bodyBackground, 10%);
}

.module .nav li a:hover, .module .nav li a:focus {
	background-color: darken(@bodyBackground, 5%);
}

.dropdown-menu li a {
	border-bottom-color: @color_three;
}
.form-actions {
	border-top-color: @color_three;
}

legend {
	border-bottom-color: @tableBorder;
}

.panel {
	border-left-color: @tableBorder;
	border-right-color: @tableBorder;
	border-top-color: @tableBorder;

	&:last-child {
		border-bottom-color: @tableBorder;
	}
}

div.cat-children li, div.categories-list li {
	border-bottom-color: @tableBorder;
}


