.hero-unit {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	h1, h2 {
		font-weight: 100;
		font-size: @baseFontSize + 16;
		text-transform: uppercase;
		letter-spacing: 0px;
		&:after { 
			content: '';
			display: block;
			height: 2px;
			width: 125px;
			background: @white;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	p {
		font-family: @altFontFamily;
		font-weight: bold;
	}
}

.navbar-inverse .navbar-inner {
	background-image: none;
	background-color: transparent;
	filter: none;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#toolbar {
	.container {
		background-color: @color_three;
		padding-left: 30px;
		padding-right: 30px;
	}
}

.item-page , .blog {
	padding-top: 12px;
	.page-header {
		h2 {
			font-size: @baseFontSize + 12;
		}

		margin-top: 0px;
		margin-bottom: 0px;
	}

	[class ^= "item"] {
		padding: 20px 0px;
	}
}

.navbar {
	.nav {
		li {
			&.deeper {
				> a {
					.caret {
						display: none;
					}

					&:after {
						font-family: FontAwesome;
						margin-left: 10px;
						font-size: @baseFontSize - 2;
						content: '\f0d7';
					}

					&:hover , &:focus {
						&:after {
							font-family: FontAwesome;
							margin-left: 10px;
							font-size: @baseFontSize - 2;
							content: '\f0d7';
						}
					}
				}
			}

			&.highlight-parent {
				background-color: @content-background;
				> a {
					color: @color_four;
				}

				&:hover , &:focus {
					background-color: @color_three;
					> a {
						color: @linkTopColor;
					}
				}
			}
			a {
				font-weight: 100;
			}
			> a {
				[class^="icon-"] {
					color: @color_three;
					&:hover {
						color: @color_three;
					}
				}
			}
		}

		> li {
			font-family: @altFontFamily;
			font-size: @baseFontSize - 2;
			> a {
				color: @linkTopColor;
				text-transform: uppercase;
				text-shadow: none;
				.caret {
					border-bottom-color: @linkTopColor;
					border-top-color: @linkTopColor;
					margin-top: 8px;
					margin-left: 10px;
					position: relative;
				}
			}

			&.deeper {
				> a {
					.caret {
						display: none;
					}

					&:after {
						font-family: FontAwesome;
						margin-left: 10px;
						font-size: @baseFontSize - 2;
						content: '\f107';
						color: #39424C;
					}

					&:hover , &:focus {
						&:after {
							font-family: FontAwesome;
							margin-left: 10px;
							font-size: @baseFontSize - 2;
							content: '\f107';
							color: #39424C;
						}
					}
				}
			}

			&.active {
				background-color: @color_three;
				> a {
					box-shadow: none;
					&:hover {
						box-shadow: none;
					}
					[class^="icon-"] {
						color: @color_three;
						&:hover {
							color: @color_three;
						}
					}
				}
			}

			&.dropdown {
				.dropdown-menu {
					border-radius: 0px;
					box-shadow: none;
					padding-left: 15px;
					padding-right: 15px;
					padding-top: 0px;
					padding-bottom: 5px;
					&:before , &:after {
						content: none;
					}

					li {
						border-top: 1px solid @white;
						text-shadow: none;
						&:first-child {
							border-top: none;
						}
						a {
							color: @linkTopColor;
							text-transform: uppercase;
							padding: 5px 0px;
							&:hover , &:focus {
								.caret {
									border-top-color: transparent;
									border-bottom-color: transparent;
								}
							}

							.caret {
								border-top-color: transparent;
								border-left-color: @dropdownLinkColor;
							}

							&:hover , &:focus {
								background: transparent;
								.caret {
									border-left-color: @dropdownLinkColorHover;
								}
							}
						}

						&.deeper {
							> a {
								&:after {
									content: '\f105';
									position: absolute;
									right: 12px;
								}
							}
						}

						.sub-menu {
							li {
								border-bottom: 1px solid @color_three;
								&:last-child {
									border-bottom: none;
								}
							}

							&:before , &:after {
								content: none;
							}
						}

						&.active {
							> a {
								background-image: none;
								filter: none;
								background: transparent;
								.caret {
									border-left-color: @dropdownLinkColorActive;
								}

								&:hover , &:focus {
									.caret {
										border-left-color: @dropdownLinkColorActive;
									}
								}
							}
						}
					}

					&.active {
						&.deeper {
							li {
								background-color: @color_four;
							}
						}
					}
				}

				li {
					&.deeper {
						> a {
							text-transform: uppercase;
						}
					}
				}
			}

			&:focus , &:hover {
				background: @color_three;
			}

			&.divider-vertical {
				border-left-color: @grayLight;
				margin-top: 0;
				padding-bottom: 3px;
			}
		}
	}
}

.header-inner {
	margin-top: 60px;
	padding-bottom: 30px;
	#logo {
		text-align: center;
	}
	[class ^="span"] {
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
}

#below-content {
	h3 {
		font-family: @sansFontFamily;
		font-size: @baseFontSize;
		text-align: center;
		color: #8B99A5;
		text-transform: uppercase;
	}
	margin-top: 25px;
}

#above-content {
	h3 {
		font-family: @sansFontFamily;
		font-size: @baseFontSize;
		text-align: center;
		color: #8B99A5;
		text-transform: uppercase;
	}
	margin-bottom: 50px;
}

#top-header {
	.navbar-inner {	
		background-color: transparent;
	}
	.navbar {
		.nav {
			display: table;
			margin-left: auto;
			margin-right: auto;
			float: none;	
			> li {
				> a {
					color: @color_three;
				}
				&:first-child {
					a {
						padding: 5px 15px 5px 0px
					}
				}
				&:last-child {
					a {
						padding: 5px 0px 5px 15px
					}
				}
			}
			border-top: 1px solid @color_two;
			li {
				&.deeper {
					&:focus , &:hover {
						> a {
							&:after {
								color: @color_one;
								font-family: FontAwesome;
								margin-left: 10px;
								font-size: @baseFontSize - 2;
								content: '\f106';
							}
						}
					}
				}

				&:focus , &:hover {
					background-color: transparent;
					a {
						color: @color_one;
					}
				}
				&.active {
					background-color: transparent;
					&.deeper {
						> a {
							&:after {
								color: @color_one;
								font-family: FontAwesome;
								margin-left: 10px;
								font-size: @baseFontSize - 2;
								content: '\f107';
							}
						}
						&:focus , &:hover {
							> a {
								&:after {
									color: @color_one;
									font-family: FontAwesome;
									margin-left: 10px;
									font-size: @baseFontSize - 2;
									content: '\f106';
								}
							}
						}

					}
					> a {
						background-color: transparent;
						color: @color_one;
					}
				}
				&.dropdown {
					.dropdown-menu {
						background-color: @grayLighter;
						li {
							a {
								color: @color_three;
							}
						}
					}
				}
			}
		}
	}
}

#grid-bottom2 {
	background-color: @color_one;
	margin-left: -30px;
	margin-right: -30px;
	padding-top: 30px;
	padding-bottom: 30px;
	.module {
		margin-bottom: 0px;
		color: @white;
		h3 {
			margin-top: 0px;
			width: 100%;
			color: @white;
			text-shadow: none;
			&:after {
			}
		}

		.custom {
		}
	}
	.page-header {
		a {
			color: @white;
		}
	}
	.readmore {
		color: @white;
		&:hover {
			text-decoration: underline;
		}
	}
}

.module {
	margin-bottom: 0px;
	h3 {
		width: 100%;
		color: @headingTabColor;
		text-shadow: none;
		font-size: @baseFontSize;
		color: #8B99A5;
		font-family: @sansFontFamily;
		text-transform: uppercase;
	}
	.readmore {
		text-transform: uppercase;
		font-size: @baseFontSize - 1;
		&:hover {
			text-decoration: none;
		}
	}
	.custom {
	}
}

.module_ms1 , .moduletable_ms1 , .moduletext_ms1 {
	border-top: 3px solid @color_one;
	margin-bottom: 40px;
	.box-sizing (border-box);
	h3 {
		color: @color_two;
		margin: 0px;
		font-size: @baseFontSize;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.module-inner {
		color: @color_three;
		font-size: @baseFontSize;
		font-weight: 100;
		background: @grayLighter;
		padding: 20px;
		p {
			font-size: @baseFontSize + 6;
			line-height: 120%;
			> small {
				font-size: @baseFontSize - 2;
			}
		}

		a {
			margin-top: 15px;
			text-transform: uppercase;
			font-size: @baseFontSize - 2;
		}
	}
}

.module_ms2 , .moduletable_ms2 , .moduletext_ms2 {
	.box-sizing (border-box);
	margin-bottom: 40px;
	h3 {
		color: @color_two;
		margin: 0px;
		font-size: @baseFontSize;
		text-transform: uppercase;
		border-bottom: 3px solid @color_one;
		margin-right: -20px;
		margin-left: -20px;
		padding-left: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.module-inner {
		color: @color_three;
		font-size: @baseFontSize;
		font-weight: 100;
		background: @grayLighter;
		padding: 20px;
		p {
			font-size: @baseFontSize + 6;
			line-height: 120%;
			> small {
				font-size: @baseFontSize - 2;
			}
		}

		a {
			margin-top: 15px;
			text-transform: uppercase;
			font-size: @baseFontSize - 2;
		}
	}
}

.module_ms4 , .moduletable_ms4 , .moduletext_ms4 {
	.box-sizing (border-box);
	margin-bottom: 40px;
	border: 1px solid @grayLighter;
	h3 {
		margin: 0px;
		font-size: @baseFontSize;
		text-transform: uppercase;
		border-bottom: 3px solid @grayLighter;
		margin-right: -20px;
		margin-left: -20px;
		padding-left: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.module-inner {
		font-size: @baseFontSize;
		font-weight: 100;
		background: transparent;
		padding: 20px;
		p {
			font-size: @baseFontSize + 6;
			line-height: 120%;
			> small {
				font-size: @baseFontSize - 2;
			}
		}

		a {
			margin-top: 15px;
			text-transform: uppercase;
			font-size: @baseFontSize - 2;
		}
	}
}

.module_ms3 , .moduletable_ms3 , .moduletext_ms3 {
	.box-sizing (border-box);
	margin-bottom: 40px;
	h3 {
		color: @white;
		margin: 0px;
		font-size: @baseFontSize;
		text-transform: uppercase;
		border-bottom: 3px solid @grayLighter;
		margin-right: -20px;
		margin-left: -20px;
		padding-left: 20px;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.module-inner {
		color: @white;
		font-size: @baseFontSize;
		font-weight: 100;
		background: @color_one;
		padding: 20px;
		p {
			font-size: @baseFontSize + 6;
			line-height: 120%;
			> small {
				font-size: @baseFontSize - 2;
			}
		}

		a {
			margin-top: 15px;
			color: @white;
			text-transform: uppercase;
			font-size: @baseFontSize - 2;
		}
	}
}

.main-content {
	background-color: @white;
	padding-left: 30px;
	padding-right: 30px;
}

#main-content {
	border-bottom: 1px solid @grayLighter;
	border-top: 1px solid @grayLighter;
	padding-top: 30px;
	padding-bottom: 30px;
}

#sidebar2 {
	margin-top: 12px;
}

.wrapper-footer {
	position: relative;
	#footer {
		background-image: none;
		background-color: transparent;
		color: @color_three;
		font-family: @altFontFamily;
		font-weight: 100;
		line-height: 120%;
		font-size: @baseFontSize - 4;
		filter: none;
		.navbar-inner {
			box-shadow: none;
		}
		.wrapper-bottom-menu {
			margin-top: 30px;
			margin-bottom: 30px;
			.navbar {
				.nav {
					display: table;
					margin-left: auto;
					margin-right: auto;
					float: none;
					li {
						a {
							color: @color_three;
						}
						&.active {
							background-color: transparent;
							a {
								color: @color_one;
							}
						}
						&:hover {
							background-color: transparent;
						}
					}
				}
			}
		}
	}
}