@media (min-width: 1200px) {

}

@media (max-width: 979px) and (min-width: 768px) {

	#toolbar {
		position: relative;
		z-index: 1;
		.navbar {
			&.navbar-inverse {
				.navbar-inner { 
					.nav {
						.dropdown {
							background-color: @dropdownBackground; 
							.dropdown-menu {
								padding-bottom: 5px;
								margin-bottom: 5px;
								a {
									border-bottom-left-radius: 0px;
									border-bottom-right-radius: 0px;
									border-top-left-radius: 0px;
									border-top-right-radius: 0px;
								}
							}
						}
						li {
							&.current {
								&.active {
									background-color:  @dropdownBackground;
								}
							}
						}
						> li {
							&:hover, &:focus {
								> a {
									background-color: @dropdownBackground;
								}
							}

						}
					}
				}
			}
		}
	}

	.module_ms5, .moduletable_ms5, .moduletext_ms5 {
		margin-right: -30px;
		margin-left: -30px;
	}

	.nav {
		&.nav-tabs, &.nav-list {
			> li {
				&:last-child {
					> a {
						border-bottom-color: @tableBorder;
					}
				}
			}
		}
	}

	.hero-unit { 
		p {
			margin: 0px 0px;
		}
	}

	.module_ms1, .module_ms2, .module_ms3, .module_ms4 {
		margin-bottom: 30px;
	}

	.navbar {
		.container {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	.wrapper-toolbar {
		margin-left: -30px;
		margin-right: -30px;
	}

	.navbar-inverse { 
		.navbar-inner {
			padding: 0px;
			.btn-navbar {
				float: left;
				background-color: transparent;
				box-shadow: none;
				background-image: none;
				font-family: @altFontFamily;
				border-radius: 0px;
				border: 0px;
				text-shadow: none;
				float: left;
				padding-bottom: 12px; 
				span  {
					box-shadow: none;
					height: 2px;
					width: 30px;
					margin-top: 5px;
				}
			}
		}
	}

	.header-inner {
		.container {
			padding-top: 30px;
		}
	}

	#top-header {
		border-top: 1px solid @color_three;
		.navbar-inner {	
			background-color: transparent;
			.btn-navbar {
				background-color: transparent;
				box-shadow: none;
				background-image: none;
				font-family: @altFontFamily;
				border-radius: 0px;
				border: 0px;
				text-shadow: none;
				float: none;
				margin-left: 0px;
				padding-left: 0px;
				padding-right: 0px;
				margin-right: 0px;
				&:after {
					content: 'Menu \f107';
					font-family: FontAwesome;
					color: @color_three;
					font-size: @baseFontSize + 2;
					text-transform: uppercase;
					font-weight: 100;
				}
				span {
					display: none;
				}
			}
		}
		.navbar {
			.navbar-inner {
				.nav {
					border-top-style: none;
					> li {
						&:first-child {
							a {
								padding: 5px 15px 5px 15px
							}
						}
						> a {
							font-weight: normal;
							&:hover, &:focus {
								background-color: transparent;
							}
						}
					}
					li {
						&:hover, &:focus {
							background-color: transparent;
						}
						a {
							&:hover, &:focus {
								background-color: transparent;
							}

						}
					}
				}
			}
		}
	}

	#breadcrumbs { 
		.breadcrumb {
			margin-bottom: 30px;
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	#bottom-menu {
		.navbar-inner {
			.btn-navbar {
				display: none;
			}
			.nav-collapse {
				overflow: visible;
				height: auto;
				.nav {
					> li {
						> a {
							font-weight: normal;
							text-align: center;
							&:hover {
								background-color: transparent;
								color: @color_one;
							}
						}
					}
				}
			}
		}
	}
	[class^="newsflash"] {
		.row-fluid, .row {
			[class^="span"] {
				float: left;
			}
		}
	}

	[class*="_ms6"] {
		.row-fluid, .row {
			[class^="span"] {
				float: left;
				margin-bottom: 30px;
			}
		}
	}

	.blog { 
		.items-row { 
			.item {
				float: left;
			}
		}
	}

	#footer {
		margin-left: 0px;
		margin-right: 0px;
		left: 0;
		margin-top: 30px;
	}


	#sliderContainer {
		.slidermanButtonsCont {

			a.sliderPrev{
				left: 0;
			}
			a.sliderNext {

			}

		}
	}

	.slidermanDescriptionCont {
		.slidermanDescriptionText {

			.slideTitle {
				top: 15%;
			}
		}
	}
}

@media (max-width: 767px) {

	#toolbar {
		position: relative;
		z-index: 1;
		.navbar {
			&.navbar-inverse {
				.navbar-inner { 
					.nav {
						.dropdown {
							background-color: @dropdownBackground; 
							.dropdown-menu {
								padding-bottom: 5px;
								margin-bottom: 5px;
								a {
									border-bottom-left-radius: 0px;
									border-bottom-right-radius: 0px;
									border-top-left-radius: 0px;
									border-top-right-radius: 0px;
								}
							}
						}
						li {
							&.current {
								&.active {
									background-color:  @dropdownBackground;
								}
							}
						}
						> li {
							&:hover, &:focus {
								> a {
									background-color: @dropdownBackground;
								}
							}

						}
					}
				}
			}
		}
	}

	.item-page {
		.row-fluid {
			[class^="span"]{
				float: left;
			}
		}
	}

	.main-wrapper { 
		padding-left: 0px;
		padding-right: 0px;
		&.wrapper-absolute { 
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	.nav {
		&.nav-tabs, &.nav-list {

			> li {
				&:last-child {
					> a {
						border-bottom-color: @tableBorder;
					}
				}
			}
		}
	}

	body {
		background-color: @white;
	}

	.hero-unit { 
		p {
			margin: 0px 0px;
		}
	}

	.module_ms1, .module_ms2, .module_ms3, .module_ms4 {
		margin-bottom: 30px;
	}
	
	.main-content {
		background-color: @white;
		margin-left: -20px;
		margin-right: -20px;
	}

	.navbar-inverse {
		.navbar-inner {
			padding: 0px;
			.btn-navbar {
				float: left;
				background-color: transparent;
				box-shadow: none;
				background-image: none;
				font-family: @altFontFamily;
				border-radius: 0px;
				border: 0px;
				text-shadow: none;
				float: none;
				padding-bottom: 12px; 
				margin-right: 0px;
				&:hover, &:focus {
					background-color: transparent;

				}
				span  {
					box-shadow: none;
					height: 2px;
					width: 30px;
					margin-top: 5px;
				}
			}
		}
	}

	.header-inner {
		.container {
			padding-top: 30px;
		}
	}

	.wrapper-menu {
		margin-left: 0px;
		margin-right: 0px;
	}

	#top-header {
		border-top: 1px solid @color_three;
		.wrapper-menu {
			margin-left: 0px;
			margin-right: 0px;
		}
		.navbar-inner {	
			background-color: transparent;
			.btn-navbar {
				background-color: transparent;
				box-shadow: none;
				background-image: none;
				font-family: @altFontFamily;
				border-radius: 0px;
				border: 0px;
				text-shadow: none;
				float: none;
				margin-left: 0px;
				&:after {
					content: 'Menu \f107';
					font-family: FontAwesome;
					color: @color_three;
					font-size: @baseFontSize + 2;
					text-transform: uppercase;
					font-weight: 100;
				}
				span {
					display: none;
				}
			}
		}
		.navbar {
			.navbar-inner {
				.nav {
					border-top-style: none;
					> li {
						&:first-child {
							a {
								padding: 5px 15px 5px 15px;
								&:hover, &:focus {
									background-color: transparent;
								}
							}
						}
						> a {
							font-weight: normal;
							&:hover {
								background-color: transparent;
							}
						}
					}
					li {
						a {
							&:hover, &:focus {
								background-color: transparent;
							}
						}

					}
				}
			}
		}
	}

	[class^="img-intro"] { 
		margin-right: 0px;
	}

	#breadcrumbs { 
		.breadcrumb {
			margin-bottom: 30px;
			margin-left: 0px;
			margin-right: 0px;
		}
	}
	
	#bottom-menu {
		.navbar-inner {
			.btn-navbar {
				display: none;
			}
			.nav-collapse {
				overflow: visible;
				height: auto;
				.nav {
					> li {
						> a {
							font-weight: normal;
							text-align: center;
							&:hover {
								background-color: transparent;
								color: @color_one;
							}
						}
					}
				}
			}
		}
	}
	
	[class^="newsflash"] {
		.row-fluid, .row {
			[class^="span"] {
				float: left;
			}
		}
	}

	[class*="_ms6"] {
		.row-fluid, .row {
			[class^="span"] {
				float: left;
				margin-bottom: 30px;
			}
		}
	}

	#grid-bottom2 {
		.module_ms5, .moduletable_ms5, .moduletext_ms5 {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
	
	.wrapper-footer {
		margin-right: 0px;
		margin-left: 0px;
		.container-fluid {
			padding-left: 0px;
			padding-right: 0px;
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	.blog { 
		.items-row { 
			.item {
				float: left;
			}
		}
	}

	#footer {
		margin-left: 0px;
		margin-right: 0px;
		left: 0;
		margin-top: 30px;
	}

	#sliderContainer {
		.slidermanButtonsCont {

			a.sliderPrev{
				left: 0;
			}
			a.sliderNext {

			}

		}
	}

	.slidermanDescriptionCont {
		.slidermanDescriptionText {

			.slideTitle {
				top: 15%;
			}
		}
	}

}
