@media (min-width: 1200px) {

}

@media (max-width: 979px) and (min-width: 768px) {

	.hero-unit { 
		p {
			margin: 0px 0px;
		}
	}

	.module_ms1, .module_ms2, .module_ms3, .module_ms4 {
		margin-bottom: 30px;
	}

	.navbar-inverse { 
		.navbar-inner {
			padding: 0px;
			.btn-navbar {
				float: left;
				background-color: transparent;
				box-shadow: none;
				background-image: none;
				font-family: @altFontFamily;
				border-radius: 0px;
				border: 0px;
				text-shadow: none;
				float: left;
				padding-bottom: 12px; 
				margin-left: 19px;
				span  {
					box-shadow: none;
					height: 2px;
					width: 30px;
					margin-top: 5px;
				}
			}
		}
	}


	#top-header {
		.navbar-inner {	
			background-color: transparent;
			.btn-navbar {
				background-color: transparent;
				box-shadow: none;
				background-image: none;
				font-family: @altFontFamily;
				border-radius: 0px;
				border: 0px;
				text-shadow: none;
				float: none;
				margin-left: 0px;
				&:after {
					content: 'Menu \f107';
					font-family: FontAwesome;
					color: @color_three;
					font-size: @baseFontSize + 2;
					text-transform: uppercase;
					font-weight: 100;
				}
				span {
					display: none;
				}
			}
		}
		.navbar {
			.nav {
				border-top: 0px;
				> li {
					&:first-child {
						a {
							padding: 5px 15px 5px 15px
						}
					}
					> a {
						font-weight: normal;
						&:hover {
							background-color: transparent;
						}
					}
				}
				li {

				}
			}
		}
	}
	#header {
		border-bottom: 1px solid @color_three;
	}

	#bottom-menu {
		.navbar-inner {
			.btn-navbar {
				display: none;
			}
			.nav-collapse {
				overflow: visible;
				height: auto;
				.nav {
					> li {
						> a {
							font-weight: normal;
							text-align: center;
							&:hover {
								background-color: transparent;
								color: @color_one;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {

	.hero-unit { 
		p {
			margin: 0px 0px;
		}
	}

	.module_ms1, .module_ms2, .module_ms3, .module_ms4 {
		margin-bottom: 30px;
	}
	
	.main-content {
		background-color: @white;
		margin-left: -20px;
		margin-right: -20px;
	}
	#grid-bottom2 {
		padding-left:  30px;
		padding-right:  30px;
	}
	#toolbar {
		.container {
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	.navbar-inverse { 
		.navbar-inner {
			padding: 0px;
			.btn-navbar {
				float: left;
				background-color: transparent;
				box-shadow: none;
				background-image: none;
				font-family: @altFontFamily;
				border-radius: 0px;
				border: 0px;
				text-shadow: none;
				float: none;
				padding-bottom: 12px; 
				margin-left: 19px;
				span  {
					box-shadow: none;
					height: 2px;
					width: 30px;
					margin-top: 5px;
				}
			}
		}
	}

	#header {
		border-bottom: 1px solid @color_three;
	}

	#top-header {
		.navbar-inner {	
			background-color: transparent;
			.btn-navbar {
				background-color: transparent;
				box-shadow: none;
				background-image: none;
				font-family: @altFontFamily;
				border-radius: 0px;
				border: 0px;
				text-shadow: none;
				float: none;
				margin-left: 0px;
				&:after {
					content: 'Menu \f107';
					font-family: FontAwesome;
					color: @color_three;
					font-size: @baseFontSize + 2;
					text-transform: uppercase;
					font-weight: 100;
				}
				span {
					display: none;
				}
			}
		}
		.navbar {
			.nav {
				border-top: 0px;
				> li {
					&:first-child {
						a {
							padding: 5px 15px 5px 15px
						}
					}
					> a {
						font-weight: normal;
						&:hover {
							background-color: transparent;
						}
					}
				}
				li {

				}
			}
		}
	}

	#bottom-menu {
		.navbar-inner {
			.btn-navbar {
				display: none;
			}
			.nav-collapse {
				overflow: visible;
				height: auto;
				.nav {
					> li {
						> a {
							font-weight: normal;
							text-align: center;
							&:hover {
								background-color: transparent;
								color: @color_one;
							}
						}
					}
				}
			}
		}
	}
}
