@media (min-width: 1200px) {

}

@media (max-width: 979px) and (min-width: 768px) {

}

@media (max-width: 767px) {
	.navbar-inner {
		height: 40px;
	}
	.main-content {
		background-color: @white;
		margin-left: -20px;
		margin-right: -20px;
	}
	#grid-bottom2 {
		padding-left:  30px;
		padding-right:  30px;
	}
	#toolbar {
		.container {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

